.grid-container {
  display: grid;
  grid-template-columns: .35fr 1fr;
  grid-template-rows: 50px 1.25fr;
  grid-template-areas:
    "aside header"
    "aside main";
  height: 100vh;
}
h1,h2,h3,h4 {
  @include titleStyles;
}
h1 {
  justify-self: center;
  color:  #E5E4E2;
}
.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
  background-color: $main-back-color;
}

.footer {
  grid-area: footer;
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  background-color: $background-color;
}

.aside {
  display: flex; 
  flex-direction: column;
  grid-area: aside;
  background-color: $aside-color;
}
.aside-list {
  display: grid;
  grid-template-rows: auto;
  padding: 10;
  margin-top: 85px;
  list-style-type: none;
  overflow-x: hidden;
}
.main-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
}
.main-overview {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); 
//   grid-auto-rows: 94px;
  grid-gap: 20px;
  overflow: overlay;
}
.main-cards {
  @include cardStyles;
  column-count: 2;
  column-gap: 20px;
  margin: 20px;
}
.card {
  @include cardStyles;
  display: grid;
  justify-self: center;
  width: 85%;
  background-color: $primary-color;
  margin-bottom: 20px;
  -webkit-column-break-inside: avoid;
  padding: 24px;
  box-sizing: border-box;
}
.pending-cards {
  margin: 0;
  padding: 10px;
}
#trip-title {
  justify-self: center;
}

.hidden {
  visibility: hidden;
}
.login-form {
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3a3a3a;
}
.login-background {
  margin: 0;  
    padding: 0;  
    background-image: url("../images/background.jpg");
}  
.login{  
        width: 375px;  
        margin: auto;  
}  
label{  
    color: $primary-color;  
    font-size: 17px;  
}  
#username, #password{  
   @include labelNames 
}  
#log{  
    @include labelNames 
    border-radius: 17px;  
    padding-left: 7px;  
    color: $secondary-color;  
}  

