@import 'variables';
@import 'styles';

html {
  @include maxSize;
}
body {
  @include maxSize;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: $primary-color;
}
main {
  @include mainGrid;
  outline-color: green;
  outline-style: solid;
}
header {
  @include rightStyle;
}
footer {
  @include rightStyle;
}
section {
  @include rightStyle;
  @include cardGrid;
  .card{
    @include cardStyle;
  }
}
#book-new-trip {
  grid-template-rows: .15fr .2fr .2fr .2fr .2fr .2fr;
}
aside {
  @include cardGrid;
  outline-color: blue;
  outline-style: solid;
  .card {
    @include cardStyle;
    @include innerCardGrid
    background-color: $secondary-color;
  }
}


