@import 'variables';
@import 'styles';

html {
  @include maxSize;
}
body {
  @include maxSize;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: $primary-color;
}
main {
  @include mainGrid;
  outline-color: green;
  outline-style: solid;
}
header {
  @include rightStyle;
}
footer {
  @include rightStyle;
}
aside {
  outline-color: blue;
  outline-style: solid;
}
section {
  @include rightStyle
}

