// font variables 👇🏽
$title-font: 'Lobster Two', cursive;
$content-font: 'Poiret One', cursive;
$beauty-font: 'Quicksand', sans-serif;
$recipe-title: 'Oleo Script', cursive;

// color variables 👇🏽
$primary-color:#E1BE6A;
$secondary-color: #40B0A6;
